@keyframes slide_down_and_fade_out {
  0%   { transform: translateY(0); opacity: 0; }
  25%  { opacity: 1; }
  75%  { transform: translateY(50%); opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

.icon {
  @apply w-13 h-13;
  animation: slide_down_and_fade_out 3s ease-out infinite;

  .isDark & {
    @apply text-darkTertiary;
  }

  .isDark:hover & {
    @apply text-darkPrimary;
  }

  .isLight & {
    @apply text-lightSecondary;
  }

  .isLight:hover & {
    @apply text-lightPrimary;
  }
}
