@keyframes slide_down_and_fade_out {
  0%   { transform: translateY(0); opacity: 0; }
  25%  { opacity: 1; }
  75%  { transform: translateY(.75rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

.mouse {
  @apply block relative h-12 w-10 border-2 rounded-2xl transition-colors;
}

.dot {
  @apply block absolute left-1/2 h-5 w-5 top-5 rounded-full -ml-2 transition-colors;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: slide_down_and_fade_out 3s ease-out infinite;
}

.isDark {
  &.mouse {
    @apply border-darkTertiary;

    &:hover {
      @apply border-darkPrimary;
    }
  }

  .dot {
    @apply bg-darkTertiary;
  }

  &:hover .dot {
    @apply bg-darkPrimary;
  }
}

.isLight {
  &.mouse {
    @apply border-lightSecondary;

    &:hover {
      @apply border-lightPrimary;
    }
  }

  .dot {
    @apply bg-lightSecondary;
  }

  &:hover .dot {
    @apply bg-lightPrimary;
  }
}
